<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">

    <link rel="stylesheet" href="./css/backdoor.css">
    <link rel="icon" type="image/png" href="./assets/images/mona.png" />
    <title>Template</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <button class="header__btn-showMenuMb">
                <div class="icon__menu icon__menu1"></div>
                <div class="icon__menu icon__menu2"></div>
                <div class="icon__menu icon__menu3"></div>
            </button>
            <div class="mobile-overlay overlay"></div>
            <div class="heaer__mobile-list mobile ">
                <!-- Cấu trúc html menu -->
                <ul class="menu-list">
                    <li class="menu-item current-menu-item ">
                        <a href="" class="menu-link active">
                            Product
                        </a>
                    </li>
                    <li class="menu-item dropdown">
                        <a href="#" class="menu-link">
                            AI Residency
                            <i class="fa-solid fa-chevron-down"></i>
                        </a>
                        <ul class="menu-list">
                            <li class="menu-item">
                                <a href="#" class="menu-link">
                                    AI Residency 1
                                </a>
                            </li>
                            <li class="menu-item dropdown">
                                <a href="#" class="menu-link">
                                    AI Residency 2
                                    <i class="fa-solid fa-chevron-down"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item current-menu-item">
                        <a href="" class="menu-link">
                            Achievement
                        </a>
                    </li>
                    <li class="menu-item current-menu-item">
                        <a href="" class="menu-link">
                            News
                        </a>
                    </li>
                    <li class="menu-item current-menu-item">
                        <a href="" class="menu-link">
                            AI Update
                        </a>
                    </li>
                    <li class="menu-item current-menu-item">
                        <a href="" class="menu-link">
                            Contact
                        </a>
                    </li>
                </ul>
            </div>
            <div class="header__logo">
                <img src="./assets/images/header/logo.png" alt="">
            </div>
            <div class="header-nav">
                <div class="menu-nav">
                    <!-- Cấu trúc html menu -->
                    <ul class="menu-list">
                        <li class="menu-item current-menu-item ">
                            <a href="" class="menu-link active">
                                Product
                            </a>
                        </li>
                        <li class="menu-item dropdown">
                            <a href="" class="menu-link">
                                AI Residency
                            </a>
                            <ul class="menu-list">
                                <li class="menu-item">
                                    <a href="" class="menu-link">
                                        AI Residency 1
                                    </a>
                                </li>
                                <li class="menu-item dropdown">
                                    <a href="" class="menu-link">
                                        AI Residency 2
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                Achievement
                            </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                News
                            </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                AI Update
                            </a>
                        </li>
                        <li class="menu-item current-menu-item">
                            <a href="" class="menu-link">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <button class="header__btn-flag">
                <div class="header__flag-main">
                    <div class="header__flag-img">
                        <img src="./assets/images/header/flag-usa.webp" alt="">
                    </div>
                    <span>EN</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="header__fag-list">
                    <div class="header__flag-item">
                        <div class="header__flag-img">
                            <img src="./assets/images/header/flag-vn.png" alt="">
                        </div>
                        <span>VN</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="header__flag-item">
                        <div class="header__flag-img">
                            <img src="./assets/images/header/flag-usa.webp" alt="">
                        </div>
                        <span>EN</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="header__flag-item">
                        <div class="header__flag-img">
                            <img src="./assets/images/header/flag-usa.webp" alt="">
                        </div>
                        <span>EN</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
            </button>
        </div>
    </header>
    <main class="main">
        <div class="banner mb-56">
            <div class="swiper bannerSwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <img src="./assets/images/slider/Rectangle244.png" alt="">
                  </div>
                  <div class="swiper-slide">
                    <img src="./assets/images/slider/Rectangle244.png" alt="">

                  </div>
                  <div class="swiper-slide">
                    <img src="./assets/images/slider/Rectangle244.png" alt="">
                  </div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="lastPost mb-56">
            <div class="container">
                <div class="lastPost__top title-top">
                    <h1 class="lastPost__title t-title">Lasted post</h1>
                </div>
                <div class="lastPost__list">
                    <div class="owl-carousel lastPost-carousel owl-theme mb-30">
                        <div class="item">
                            <img src="./assets/images/slider/img1.png" alt="">
                            <div class="lastPost-detail detail-use">
                                <span class="lastPost-text1 new-text1 text1-use">June 30, 2023 / AI update</span>
                                <h4 class="lastPost-text2 new-text2 text2-use">Experience VinAI’s Driving Technology First-hand at CES 2023!</h4>
                            </div>
                        </div>
                        <div class="item">
                            <img src="./assets/images/slider/img2.png" alt="">
                            <div class="lastPost-detail detail-use">
                                <span class="lastPost-text1 new-text1 text1-use">June 30, 2023 / AI update</span>
                                <h4 class="lastPost-text2 new-text2 text2-use">Experience VinAI’s Driving Technology First-hand at CES 2023!</h4>
                            </div>
                        </div>
                        <div class="item">
                            <img src="./assets/images/slider/img3.png" alt="">
                            <div class="lastPost-detail detail-use">
                                <span class="lastPost-text1 new-text1 text1-use">June 30, 2023 / AI update</span>
                                <h4 class="lastPost-text2 new-text2 text2-use">Experience VinAI’s Driving Technology First-hand at CES 2023!</h4>
                            </div>
                        </div>
                    </div>
                    <div class="pagination row">
                        <div class="button1 lastPost-click col col-4">
                            <span class="lastPost-text1 text1-use">June 30, 2023 / AI update</span>
                            <h4 class="lastPost-text2 text2-use">Experience VinAI’s Driving Technology First-hand at CES 2023!</h4>
                        </div>
                        <div class="button2 lastPost-click col col-4">
                            <span class="lastPost-text1 text1-use">June 30, 2023 / AI update</span>
                            <h4 class="lastPost-text2 text2-use">Experience VinAI’s Driving Technology First-hand at CES 2023!</h4>
                        </div>
                        <div class="button3 lastPost-click col col-4">
                            <span class="lastPost-text1 text1-use">June 30, 2023 / AI update</span>
                            <h4 class="lastPost-text2 text2-use">Experience VinAI’s Driving Technology First-hand at CES 2023!</h4>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <div class="culture mb-56">
            <div class="container">
                <div class="culture__top title-top">
                    <h1 class="culture__title t-title">Culture</h1>
                    <button class="btnview">View all</button>
                </div>
                <div class="culture__body row">
                    <div class="culture__item col col-4">
                        <img src="./assets/images/culture/culture1.png" alt="" class="culture__img">
                        <div class="culture__detail">
                            <span class="culture__detail-time">June 30, 2023 / News</span>
                            <p class="culture__detail-text">VinAI’s ambition at 2023 Conference on Computer Vision
                                and Pattern Recognition</p>
                        </div>
                    </div>
                    <div class="culture__item col col-4">
                        <img src="./assets/images/culture/culture2.png" alt="" class="culture__img">
                        <div class="culture__detail">
                            <span class="culture__detail-time">June 30, 2023 / News</span>
                            <p class="culture__detail-text">VinAI’s ambition at 2023 Conference on Computer Vision
                                and Pattern Recognition</p>
                        </div>
                    </div>
                    <div class="culture__item col col-4">
                        <img src="./assets/images/culture/culture3.png" alt="" class="culture__img">
                        <div class="culture__detail">
                            <span class="culture__detail-time">June 30, 2023 / News</span>
                            <p class="culture__detail-text">VinAI’s ambition at 2023 Conference on Computer Vision
                                and Pattern Recognition</p>
                        </div>
                    </div>
                    <div class="culture__item col col-4">
                        <img src="./assets/images/culture/culture4.png" alt="" class="culture__img">
                        <div class="culture__detail">
                            <span class="culture__detail-time">June 30, 2023 / News</span>
                            <p class="culture__detail-text">VinAI’s ambition at 2023 Conference on Computer Vision
                                and Pattern Recognition</p>
                        </div>
                    </div>
                    <div class="culture__item col col-4">
                        <img src="./assets/images/culture/culture5.png" alt="" class="culture__img">
                        <div class="culture__detail">
                            <span class="culture__detail-time">June 30, 2023 / News</span>
                            <p class="culture__detail-text">VinAI’s ambition at 2023 Conference on Computer Vision
                                and Pattern Recognition</p>
                        </div>
                    </div>
                    <div class="culture__item col col-4">
                        <img src="./assets/images/culture/culture6.png" alt="" class="culture__img">
                        <div class="culture__detail">
                            <span class="culture__detail-time">June 30, 2023 / News</span>
                            <p class="culture__detail-text">VinAI’s ambition at 2023 Conference on Computer Vision
                                and Pattern Recognition</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="news mb-56">
            <div class="container">
                <div class="new__top title-top">
                    <h1 class="t-title">News</h1>
                    <button class="btnview">View all</button>
                </div>
                <div class="new__body row">
                    <div class="new__body-main col col-7">
                        <img src="./assets/images/new/new.png" alt="">
                        <div class="new__main-detail detail-use">
                            <span class="new-body-text1 new-text1 text1-use">June 30, 2023 / News</span>
                            <h4 class="new-body-text2 new-text2 text2-use">Experience VinAI’s Driving Technology First-hand at CES 2023!</h4>
                        </div>
                    </div>
                    <div class="new__body-list col col-5">
                        <div class="new__body-item row">
                            <div class="new-itemImg col col-5">
                                <img src="./assets/images/new/new.png" alt="">
                            </div>
                            <div class="new-detail col col-7">
                               <div class="new-detailTop">
                                <span class="new-text1">June 30, 2023 / News</span>
                                <h4 class="new-text2">Experience VinAI’s Driving Technology First-hand at CES 2023!</h4>
                               </div>
                               <div class="btn-post">
                                <a href="#" class="post-link">View post</a>
                               </div>
                            </div>
                        </div>
                        <div class="new__body-item row">
                            <div class="new-itemImg col col-5">
                                <img src="./assets/images/new/new.png" alt="">
                            </div>
                            <div class="new-detail col col-7">
                               <div class="new-detailTop">
                                <span class="new-text1">June 30, 2023 / News</span>
                                <h4 class="new-text2">Experience VinAI’s Driving Technology First-hand at CES 2023!</h4>
                               </div>
                               <div class="btn-post">
                                <a href="#" class="post-link">View post</a>
                               </div>
                            </div>
                        </div>
                        <div class="new__body-item row">
                            <div class="new-itemImg col col-5">
                                <img src="./assets/images/new/new.png" alt="">
                            </div>
                            <div class="new-detail col col-7">
                               <div class="new-detailTop">
                                <span class="new-text1">June 30, 2023 / News</span>
                                <h4 class="new-text2">Experience VinAI’s Driving Technology First-hand at CES 2023!</h4>
                               </div>
                               <div class="btn-post">
                                <a href="#" class="post-link">View post</a>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aiupdate mb-56">
            <div class="container">
                <div class="aiupdate__top title-top">
                    <h1 class="t-title">Ai Update</h1>
                    <button class="btnview">View all</button>
                </div>
                <div class="swiper aiupdateSwiper">
                    <div class="swiper-wrapper">
                      <div class="swiper-slide">
                        <img src="./assets/images/slider/img1.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img src="./assets/images/slider/img2.png" alt="">
                      </div>
                      <div class="swiper-slide">
                        <img src="./assets/images/slider/img3.png" alt="">
                      </div>
                    </div>
                    <div class="swiper-button-next swiper-button"><i class="fa-solid fa-arrow-right"></i></div>
                    <div class="swiper-button-prev swiper-button"><i class="fa-solid fa-arrow-left"></i></div>
                  </div>
            </div>
        </div>
        <!-- Cấu trúc html phân trang -->
        <!-- <ul class="page-numbers">
            <li>
                <a href="" class="prev page-numbers" href=""><i class="fa fa-angle-left"></i></a>
            </li>
            <li>
                <span class="page-numbers current">1</span>
            </li>
            <li>
                <a href="" class="page-numbers">2</a>
            </li>
            <li>
                <a href="" class="page-numbers">3</a>
            </li>
            <li>
                <span class="page-numbers dot">...</span>
            </li>
            <li>
                <a href="" class="page-numbers">8</a>
            </li>
            <li>
                <a href="" class="page-numbers">9</a>
            </li>
            <li>
                <a href="" class="page-numbers">10</a>
            </li>
            <li>
                <a href="" class="next page-numbers"><i class="fa fa-angle-right"></i></a>
            </li>
        </ul> -->
    </main>
    <footer class="footer">
        <!-- <img src="./assets/images/footer/global.png" alt="" class="bg-footer"> -->
        <div class="container footer__body">
            <div class="footer__left">
                <div class="footer__img">
                    <img class="logofooter mb-15" src="./assets/images/footer/logofooter.png" alt="">
                </div>
                <div class="footer__left-text mb-15">We solve real-world problems by transforming state-of-the-art
                    AI
                    research into impactful products and services.</div>
                <h1 class="t-title-second mb-15">follow us on</h1>
                <ul class="social-list mb-15">
                    <li class="social-item"><a href="" class="social-linkft"><i class="fa-brands fa-facebook-f"></i></a>
                    </li>
                    <li class="social-item"><a href="" class="social-linkft"><i class="fa-brands fa-twitter"></i></a>
                    </li>
                    <li class="social-item"><a href="" class="social-linkft"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                    <li class="social-item"><a href="" class="social-linkft"><i
                                class="fa-brands fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <div class="line-h"></div>
            <div class="footer__right">
                <h1 class="t-title-second mb-15">INTELLIGENCE FOR TOMORROW, TODAY</h1>
                <button class="btn-subscribe btn mb-20">Subscribe to Newsletter</button>
                <div class="line-v"></div>
                <div class="footer__right-detail">
                    <div class="footer__right-about">
                        <h1 class="t-title-second mb-20">About</h1>
                        <ul class="footer__list">
                            <li class="footer__item"><a href="" class="footer__link">Home</a></li>
                            <li class="footer__item"><a href="" class="footer__link">Research</a></li>
                            <li class="footer__item"><a href="" class="footer__link">About Us</a></li>
                            <li class="footer__item"><a href="" class="footer__link">News</a></li>
                            <li class="footer__item"><a href="" class="footer__link">Products</a></li>
                            <li class="footer__item"><a href="" class="footer__link">Solutions</a></li>
                            <li class="footer__item"><a href="" class="footer__link">Career</a></li>
                            <li class="footer__item"><a href="" class="footer__link">Contact</a></li>
                        </ul>
                    </div>
                    <div class="footer__right-info">
                        <h1 class="t-title-second mb-20">Contact Info</h1>
                        <ul class="footer__list">
                            <li class="footer__item"><i class="fa-solid fa-envelope"></i><a href=""
                                    class="footer__link">business@vinai.io job@vinai.io</a></li>
                            <li class="footer__item"><img src="./assets/images/footer/location1.png" alt=""><a
                                    href="" class="footer__link">Floor 11, Technopark Tower, Vinhomes
                                    Ocean Park, Gia Lam
                                    District, Hanoi City, Vietnam</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy__right container">
            <div class="mona-design">
                <div class="mona-detail">
                    <img src="./assets/images/footer/logomona.png" alt="">
                    <span>MONA .Media</span>
                </div>
                <span class="line1">/</span>
                <div>
                    <span>Website</span>
                    <img src="./assets/images/footer/share.png" alt="">
                </div>
            </div>
            <div class="link-vinai">
                <span>Go to vinai.io</span>
                <button class="btn-link-vinai"><i class="fa-solid fa-up-right-from-square"
                        style="color: #ffffff;"></i></button>
            </div>
        </div>
    </footer>
    <div class="back-to-top backToTop button-pulse">
        <img src="./assets/images/footer/btt.png" alt="">
    </div>
    <script src="./js/library/jquery/jquery.js"></script>
    <script src="./js/library/swiper/swiper-bundle.min.js"></script>
    <script src="./js/library/aos/aos.js"></script>
    <script src="./js/library/select2/select2.min.js"></script>
    <script src="./js/library/gallery/lightgallery-all.min.js"></script>
    <script src="./js/library/jquery/jquery-migrate.js"></script>
    <script src="./js/library/isotope/isotope.pkgd.min.js"></script>
    <script src="./js/library/datetime/moment.min.js"></script>
    <script src="./js/library/datetime/daterangepicker.min.js"></script>
    <script src="./js/library/smoothscroll/SmoothScroll.min.js"></script>
    <script src="./js/library/fancybox/fancybox.umd.js"></script>
    <script src="./js/library/owlcarousel/owl.carousel.js"></script>
    <script src="./assets/font/fontawesome-free-6.4.0-web/fontawesome-free-6.4.0-web/js/all.min.js"></script>
    <script src="./js/main.js" type="module"></script>
   
</body>

</html>